@import "../vars";

.bg {
  &-red, &-red[type='default'] {
    background-color: $red;
    color: $white;
    &.light {
      color: $red;
      background-color: $redLight;
    }
  }
  &-orange, &-orange[type='default'] {
    background-color: $orange;
    color: $white;
    &.light {
      color: $orange;
      background-color: $orangeLight;
    }
  }
  &-yellow, &-yellow[type='default'] {
    background-color: $yellow;
    color: $black;
    &.light {
      color: $yellow;
      background-color: $yellowLight;
    }
  }
  &-olive, &-olive[type='default'] {
    background-color: $olive;
    color: $white;
    &.light {
      color: $olive;
      background-color: $oliveLight;
    }
  }
  &-green, &-green[type='default'] {
    background-color: $green;
    color: $white;
    &.light {
      color: $green;
      background-color: $greenLight;
    }
  }
  &-cyan, &-cyan[type='default'] {
    background-color: $cyan;
    color: $white;
    &.light {
      color: $cyan;
      background-color: $cyanLight;
    }
  }
  &-blue, &-blue[type='default'] {
    background-color: $blue;
    color: $white;
    &.light {
      color: $blue;
      background-color: $blueLight;
    }
  }
  &-purple, &-purple[type='default'] {
    background-color: $purple;
    color: $white;
    &.light {
      color: $purple;
      background-color: $purpleLight;
    }
  }
  &-mauve, &-mauve[type='default'] {
    background-color: $mauve;
    color: $white;
    &.light {
      color: $mauve;
      background-color: $mauveLight;
    }
  }
  &-pink, &-pink[type='default'] {
    background-color: $pink;
    color: $white;

    &.light {
      color: $pink;
      background-color: $pinkLight;
    }
  }
  &-brown, &-brown[type='default'] {
    background-color: $brown;
    color: $white;
    &.light {
      color: $brown;
      background-color: $brownLight;
    }
  }
  &-grey, &-grey[type='default'] {
    background-color: $grey;
    color: $white;
    &.light {
      color: $grey;
      background-color: $greyLight;
    }
  }
  &-gray, &-gray[type='default'] {
    background-color: #f0f0f0;
    color: $black;
    &.light {
      color: #666;
      background-color: #fadbd9;
    }
    &.light {
      color: #888;
      background-color: #f1f1f1;
    }
  }
  &-black, &-black[type='default'] {
    background-color: $black;
    color: $white;
  }
  &-white, &-white[type='default'] {
    background-color: $white;
    color: $darkGray;
  }
  &-shadeTop, &-shadeTop[type='default'] {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.01));
    color: $white;
  }
  &-shadeBottom, &-shadeBottom[type='default'] {
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
    color: $white;
  }
  &-gradual {
    &-red, &-red[type='default'] {
      background-image: $gradualRed;
      color: $white;
    }
    &-orange, &-orange[type='default'] {
      background-image: $gradualOrange;
      color: $white;
    }
    &-green, &-green[type='default'] {
      background-image: $gradualGreen;
      color: $white;
    }
    &-purple, &-purple[type='default'] {
      background-image: $gradualPurple;
      color: $white;
    }
    &-pink, &-pink[type='default'] {
      background-image: $gradualPink;
      color: $white;
    }
    &-blue, &-blue[type='default'] {
      background-image: $gradualBlue;
      color: $white;
    }
  }
  &-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &-mask {
    background-color: $black;
    position: relative;
    &::after {
      content: "";
      border-radius: inherit;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    view,
    div,
    cover-view {
      z-index: 5;
      position: relative;
    }
  }
  &-video {
    position: relative;
    video {
      display: block;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      z-index: 0;
      pointer-events: none;
    }
  }
}
